a:active, a:link {
	color: var(--text);
	font-size: calc(var(--link-multiplier) * var(--font-size));
	line-height: var(--title-line-height);
 }
a:hover {
	color: var(--text);
	filter: drop-shadow(var(--shadow-x) var(--shadow-y) 5px var(--pop));
 }
strong, emp {
   color: var(--text);
   font-size: calc(var(--emp-multiplier) * var(--font-size));
   line-height: var(--title-line-height);
   font-weight: var(--font-weight-emp)!important;
 }
.highlight {
	background: rgba(0,0,0,1);
}
h1, h2, h3, h4 {
	line-height: var(--title-line-height)!important;
	color: var(--primary);
}
h1 {
	font-size: calc(var(--header1-multiplier) * var(--font-size));
	font-weight: var(--font-weight-h1)!important;
}
h2 {
	font-size: calc(var(--header2-multiplier) * var(--font-size));
	font-weight: var(--font-weight-h2)!important;
}
h3 {
	font-size: calc(var(--header3-multiplier) * var(--font-size));
	font-weight: var(--font-weight-h3)!important;
}
h4 {
	font-size: calc(var(--header4-multiplier) * var(--font-size));
	font-weight: var(--font-weight-h4)!important;
}
h5 {
	font-size: calc(var(--header4-multiplier) * var(--font-size));
	font-weight: var(--font-weight-h4)!important;
}
ol, li {
	font-size: calc(var(--list-multiplier) * var(--font-size));
	font-weight: var(--font-weight-list)!important;
	padding: var(--list-padding)!important;
}
blockquote {
  color: rgba(var(--text-r), var(--text-g), var(--text-b), 1);
  font-size: calc(var(--font-size) * var(--blockquote-multiplier));
  font-weight: var(--font-weight-text)!important;
}
table {
	border-collapse: collapse;
	border-color: var(--pop);
	background-color: var(--code-bg)!important;
}
.wrap {
	width: 200px;
	margin: 0 auto;
	background: white;
}
body {
	padding: var(--global-padding);
	font-size: var(--font-size);
	margin-top: var(--margin);
	margin-bottom: var(--margin);
	margin-right: var(--margin);
	margin-left: var(--margin);
	margin: 0;
	box-shadow: inset 0 0 100% black;
	height: 100vh;
	width: 100%;
	z-index: -100;
}
p {
	font-size: var(--font-size)!important;
	text-indent: 0%;
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing-f1);
	color: var(--text);
	font-weight: var(--font-weight-text)!important;
 }
.card-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
	background-color: var(--card-bg);
	z-index: 100;
	margin: auto; 
	filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.8));
	border-radius: var(--border-radius);
 }
 .card-header {
    text-align: center;
	font-family: 'Lato', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 0%;
	padding-top: 0%;
	z-index: 100;
}
 .card-body {
    text-align: center;
	font-family: 'Lato', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 0%;
	padding-top: 0%;
	z-index: 100;
}
.card-links {
    text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: calc(var(--link-multiplier) * var(--font-size));
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 0%;
	padding-top: 0%;
	line-height: 1%;;
	
}
.fa-twitter-square, .fa-linkedin-square, .fa-github-square {
	padding-inline: 5%;
	scale: 200%;
	color: var(--pop);
}
.video-bg {
	position: fixed;
	overflow: hidden;
	z-index: -1;
	top: -5%; left: -5%; bottom: -5%; right: -5%;
	min-width: 100vw;
	min-height: 100vh;
}
.hero-bg {
	position: absolute;
	z-index: -1;
	overflow: hidden;
}
code {
	white-space : pre-wrap !important;
}
p {
	font-weight: var(--font-weight-h3)!important;
}