[data-md-color-scheme="max-lite"]  {
	--bg-alpha: 1;
	--bg-r: 220;
	--bg-g: 220;
	--bg-b: 220;
	--bg: rgba(var(--bg-r), var(--bg-g), var(--bg-b), var(--bg-alpha));

	--gradient-color1:   rgba(16, 10, 30, 1);
	--gradient-c1-amt:   80%;
	--gradient-color2:   rgba(15, 15, 20, 1);
	--gradient-c2-amt:   90%;
	--gradient-x:        -10.8%;
	--gradient-y:        -50.3%;

	--graydient: radial-gradient(var(--gray-20-hex), var(--gray-30-hex) 100% );
	--bg-gradient: var(--gray-50);
	--bg-size: 100% 200%;
	--bg-repeat: yes;

	--header-alpha: 1;
	--header-r:  11;
	--header-g:  11;
	--header-b:  11;
	--header: rgba(var(--header-r), var(--header-g), var(--header-b), var(--header-alpha));
	--header-brightness: 1;

	--header-contrast-alpha: 1;
	--header-contrast-r:  250;
	--header-contrast-g:  250;
	--header-contrast-b:  250;
	--header-contrast: rgba(var(--header-contrast-r), var(--header-contrast-g), var(--header-contrast-b), var(--header-contrast-alpha));
	--header-contrast-brightness: 1;

	--card-bg: rgba(255, 255, 255, .95);

	--code-bg-alpha: 0;
	--code-bg-r: 1;
	--code-bg-g: 1;
	--code-bg-b: 1;
	--code-bg: rgba(var(--code-bg-r), var(--code-bg-g), var(--code-bg-b), var(--code-bg-alpha));

    --primary-alpha: .7;
    --primary-r: 20;
    --primary-g: 20;
    --primary-b: 20;
    --primary: rgba(var(--primary-r), var(--primary-g), var(--primary-b), var(--primary-alpha));

	--pop-alpha: 1;
	--pop-r:  020;
	--pop-g:  120;
	--pop-b:  180;
	--pop: rgba(var(--pop-r), var(--pop-g), var(--pop-b), var(--pop-alpha));

	--text-alpha: 1;
	--text-r: 1;
	--text-g: 1;
	--text-b: 1;
	--text: rgba(var(--text-r), var(--text-g), var(--text-b), var(--text-alpha));
    --text-brightness: 10px;
	--text-glow: rgba(var(--text-r), var(--text-g), var(--text-b), var(--text-brightness));

	--shadow-x: 1px;
	--shadow-x-max: .3;
	--shadow-y: 1px;
	--shadow-y-max: 1;
	--shadow-radius: 2px;
	--brightness: 90%;
	--shadow-alpha: 1;
	--shadow-r: 71;
	--shadow-g: 71;
	--shadow-b: 71;
	--shadow: rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), var(--shadow-alpha));

	--border-radius: 10px;
	--border-style: solid;

    /* search bar cursor and active text */
    --md-default-fg-color: var(--text);
    /* h1 headers and >'s, link highlights, TOC nav highlight, hover1 */
    --md-default-fg-color--light: var(--primary);
    /* scroll bars and markers un-hovered */
    --md-default-fg-color--lighter: rgba(var(--pop-r), var(--pop-g), var(--pop-b), 1);
    /* horizontal lines and icons unhovered, search header background */
    --md-default-fg-color--lightest: var(--bg);
    /* HTML page Background color */
    --md-default-bg-color: var(--bg);
    /*?*/
    --md-default-bg-color--light: rgba(49, 218, 7, .8);
    /*?*/
    --md-default-bg-color--lighter: rgb(253, 99, 10);
    /*?*/
    --md-default-bg-color--lightest: rgb(235, 14, 243);
    /*header background*/
    --md-primary-fg-color: var(--transparent);
    /*?*/
    --md-primary-fg-color--light: var(--header);
    /*?*/
    --md-primary-fg-color--dark: var(--header);
    /* header text and icon color */
    --md-primary-bg-color: var(--header-contrast);
    /* search bar initial text */
    --md-primary-bg-color--light: var(--header-contrast);
    /* Hover color2 + search syntax highlight */
    --md-accent-fg-color: var(--header);
    /* search result highlight */
    --md-accent-fg-color--transparent: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .2);
    /*?*/
    --md-accent-bg-color: rgba(2, 22, 222, 1);
    /*?*/
    --md-accent-bg-color--light: rgba(235, 14, 243, 1);
    /* default text color in a code block */

    --md-code-fg-color: var(--header-contrast);
	--md-code-bg-color: var(--code-bg);
	--md-code-hl-color: rgb(207, 62, 200);
	--md-code-hl-number-color: rgb(252, 17, 173);
	--md-code-hl-special-color: hsla(340, 83%, 47%, 1);
	--md-code-hl-function-color: hsla(291, 45%, 50%, 1);
	--md-code-hl-constant-color: rgb(89, 214, 245);
	--md-code-hl-keyword-color: hsla(219, 54%, 51%, 1);
	--md-code-hl-string-color: rgb(250, 175, 104);
	--md-code-hl-name-color: rgb(244, 243, 247);
	--md-code-hl-operator-color: rgb(250, 167, 111);
	--md-code-hl-punctuation-color: rgb(250, 69, 69);
	--md-code-hl-comment-color: rgba(10,220,100,1);
	--md-code-hl-generic-color: rgba(222,222,222,1);
    --md-code-hl-variable-color: var(--header-contrast);
    /* Main Font Color */
	--md-typeset-color: var(--text);
	--md-typeset-a-color: var(--pop);
    /*?*/
    --md-typeset-mark-color: rgba(212,2,212,1);
    /*?*/
    --md-typeset-del-color: rgba(255,25,255,1);
    /*?*/
    --md-typeset-ins-color: rgba(255,25,255,1);
    /*?*/
    --md-typeset-kbd-color: rgba(255,25,255,1);
    /*?*/
    --md-typeset-kbd-accent-color: rgba(255,25,255,1);
    /*?*/
    --md-typeset-kbd-border-color: rgba(255,25,255,1);
    /*?*/
    --md-typeset-table-color: var(--pop);
    /*?*/
    --md-admonition-fg-color: var(--text);
    /*?*/
    --md-admonition-bg-color: var(--bg);
}